// Importação da fonte da página
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// MixIn Reset
@mixin reset() {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

// Variáveis
$button-color: #66BB6A;

// Reset
* {
    @include reset;
}

// Estilização do cabeçalho
header {
    width: 90%;
    margin: auto;
    background-image: url(./img/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    color: #ffffff;

    h1 {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.5rem;
        width: 50vw;
        margin: 0 auto;
        margin-bottom: 25px;
        font-weight: bold;
    }

    button {
        background-color: $button-color;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
    }

    button:hover {
        background-color: #00FA9A;
        color: #000;
        transition: .5s;
    }

    .box-header {
        background: rgba(0, 0, 0, 0.4);
        height: inherit; // Inherit herda o tamanho do elemento pai (header)
        padding: 200px 40px 40px 40px;
        display: inline-block; // Serve para deixar os elementos um do lado do outro
        width: 100%;
        text-align: center;
    }
}

// Estilização dos cards
.cards {
    width: 90%;
    margin: auto;
    background-color: #F1F8C9;
    padding: 50px 20px;
    text-align: center;

    .card {
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        width: 308px;
        height: 426px;
        background-color: #ffffff;
        margin: 16px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0 0;
        }

        h2 {
            font-size: 1.75rem;
            padding: 10px 14px 0;
        }

        p {
            font-size: 1.1rem;
            padding: 25px 14px;
            font-weight: 400;
            height: 70px;
            overflow: hidden;
        }

        button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%);
            cursor: pointer;
            padding: 0.6rem 0.8rem;
            border-radius: 29px;
            background-color: $button-color;
            font-size: 1rem;
            font-weight: 700;
            color: #FFF;
            border: none;
            width: 130px;
            transition: .5s;
        }

        button:hover {
            background: $button-color;
            background: #00FA9A;
            color: #000;
            transition: .5s;
        }
    }
}

// Estilização do formulário
.forms {
    width: 90%;
    margin: auto;
    padding: 40px 20px;
    background-color: #E8F5E9;
    height: 70vh;
    text-align: center;

    form {
        width: 40%;
        margin: auto;
        text-align: center;
    }

    h3 {
        font-size: 2.2rem;
        padding-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
        padding-bottom: 25px;
        color: #767676;
        font-weight: 400;
    }
    input {
        width: 100%;
        padding: 20px 20px;
        margin-bottom: 20px;
        border: solid 1px #CCC;
        border-radius: 10px;
        font-size: 1rem;
    }

    input::placeholder {
        font-size: 1.5rem;
        color: #8E8E8E;
        font-weight: 700;
    }

    select {
        width: 100%;
        padding: 20px 20px;
        border-radius: 10px;
        font-size: 1rem;
        border: solid 1px #CCC;
        font-size: 1.5rem;
        color: #8E8E8E;
        background: #FFF;
        font-weight: 700;
        cursor: pointer;
    }
    
    button {
        margin-top: 40px;
        width: 100%;
        background-color: $button-color;
        color: #FFF;
        padding: 20px 20px;
        border-radius: 25px;
        border: none;
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
        transition: .5s;
    }

    button:hover {
        background-color: #00FA9A;
        color: #000;
        transition: .5s;
    }
}

// Estilização do rodapé
.footer {
    width: 90%;
    margin: auto;
    height: 10vh;
    background-color: $button-color;
    padding-top: 40px;

    p {
        text-align: center;
        font-size: 1.5rem;
        color: #FFF;
        font-weight: 700;
    }
}